@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
}
nav li{
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}
nav button{
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}
.content-text{
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}